{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
      "rules": {
        "semi": 1,
        "no-console": 0,
        "no-unused-vars": 1,
        "no-debugger": 1,
        "indent": [1, 2, {"SwitchCase": 1}],
        "linebreak-style": [1, "unix"]
      }
}
